/*---------- STYLE BODY ----------*/

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

#nav {
  background-color: #349b97;
  margin: 1rem;
  text-align: center;
  position: sticky;
  top: 2px;
}

#nav a {
  color: white;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
}
/*---------- STYLE HEADER ----------*/

#photo-profil {
  width: 18rem;
  border-radius: 100%;
  border: #466362 solid 5px;
  margin-top: 5rem;
}

header {
  text-align: center;
  color: aliceblue;
  background-image: url(../pictures/img/bridgeDarkness.jpeg);
  background-size: cover;
  background-position: center;
  font-size: 2rem;
}

.refHeader {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background: #466362;
  width: 10rem;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

/*---------- MAIN ----------*/
/**---------- A propos de moi ----------*/

#aProposDeMoi {
  color: black;
  display: flex;
  margin: 1rem 3rem 1rem 3rem;
  box-shadow: 4px 5px 15px -2px;
}

.aproposDeMoi-info {
  width: 60%;
  padding: 3rem;
}

.aproposDeMoi-Basic {
  width: 40%;
  padding: 3rem;
}

.aproposDeMoi-Basic h2 {
  padding: 2px;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 6px 2px;
  grid-template-areas:
    "Div1 Rep1"
    "Div2 Rep2"
    "div3 Rep3"
    "div4 Rep4"
    "div5 Rep5"
    "div6 Rep6";
}
.Div1 {
  grid-area: Div1;
}
.Div2 {
  grid-area: Div2;
}
.div3 {
  grid-area: div3;
}
.div4 {
  grid-area: div4;
}
.div5 {
  grid-area: div5;
}
.div6 {
  grid-area: div6;
}
.Rep2 {
  grid-area: Rep2;
}
.Rep1 {
  grid-area: Rep1;
}
.Rep3 {
  grid-area: Rep3;
}
.Rep4 {
  grid-area: Rep4;
}
.Rep5 {
  grid-area: Rep5;
}
.Rep6 {
  grid-area: Rep6;
}

.DivIndex {
  font-weight: bold;
  text-transform: uppercase;
  color: #466362;
}
/**---------- COMPETENCE ----------**/

#competence {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem;
  padding: 10px;
  box-shadow: 4px 5px 15px -2px;

  justify-content: space-around;
}

.barre {
  display: inline-block;
}

#skill {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skill-barre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#competence h2 {
  text-align: center;
  color: #466362;
  font-weight: bold;
}

#competence a {
  text-align: center;
}
/**---------- EXPERIENCE ----------**/

#experience h2 {
  text-align: center;
  color: #466362;
  font-weight: bold;
  padding: 1rem;
}

#experience {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
}

.experience-Bloc {
  display: flex;
  border: solid #466362 1px;
  border-radius: 5px;
  margin: 1rem;
}

.experience-info {
  font-weight: bold;
  background-color: #466362;
  color: white;
  width: 30%;
  padding: 1rem;
}

.experience-info-text {
  width: 70%;
  padding: 1rem;
}

#experience a {
  text-align: center;
  margin-bottom: 1rem;
}

/**---------- FORMATION ----------**/

#formation {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
  padding: 10px;
}

#formation h2 {
  text-align: center;
  color: #466362;
  font-weight: bold;
}

.formation-info {
  display: flex;
  border: solid #466362 1px;
  border-radius: 5px;
  margin: 1rem;
}

.formation_info-type {
  font-weight: bold;
  background-color: #466362;
  color: white;
  width: 30%;
  padding: 1rem;
}

.formation_info-resume {
  width: 70%;
  padding: 1rem;
}

.formation-info h3 {
  text-align: center;
  display: inline;
  color: white;
  background-color: #466362;
}

.formation_info-type .date {
  text-align: right;
}

#formation a {
  text-align: center;
  margin-bottom: 1rem;
}

/**---------- PORTOFOLIO ----------**/

#portofolio {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
  padding: 10px;
}

#portofolio h2 {
  text-align: center;
  color: #466362;
  font-weight: bold;
}

#portofolio a {
  text-align: center;
  margin-bottom: 1rem;
}

/**---------- CONTACTER MOI ----------**/

#contact {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
  padding: 10px;
  background-image: url(../pictures/img/carteSF.png);
  background-size: cover;
  height: 600px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.bloc {
  background-color: white;
  box-shadow: 4px 5px 15px -2px;
  width: 80%;
  height: 555px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.contacterMoi-div {
  margin: 0rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.contacterMoi-div .a {
  color: #110eda;
}

/**---------- MEDIA QUERY ----------**/

/**---------- FOOTER ----------**/

footer {
  text-align: center;
}
