/*---------- STYLE BODY ----------*/

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-bg-color: #6667ab;
}

#nav {
  background-color: var(--main-bg-color);
  text-align: center;
  position: sticky;
  top: 2px;
}

/* #nav a {
  color: white;
  font-size: 1rem;
  padding: 5px;
  margin: 5px;
} */

a:hover {
  color: #da7416;
}
/*---------- STYLE HEADER ----------*/

#photo-profil {
  width: 18rem;
  border-radius: 100%;
  border: #9798a8 solid 5px;
  margin-top: 5rem;
}

header {
  text-align: center;
  color: aliceblue;
  background-image: url(../pictures/img/road.jpg);
  background-size: cover;
  background-position: center;
  font-size: 2rem;
}

.refHeader {
  display: inline-block;
  font-size: 1rem;
  color: white;
  background: var(--main-bg-color);
  width: 10rem;
  padding: 5px 10px 5px 10px;
  margin: 5px;
}

/*---------- MAIN ----------*/
/**---------- A propos de moi ----------*/

#aProposDeMoi {
  color: black;
  display: flex;
  margin: 1rem 3rem 1rem 3rem;
  box-shadow: 4px 5px 15px -2px;
}

.aproposDeMoi-info {
  padding: 3rem;
}

.aproposDeMoi-Basic {
  padding: 3rem;
}

.aproposDeMoi-Basic h2 {
  padding: 2px;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 6px 2px;
  grid-template-areas:
    "Div1 Rep1"
    "Div2 Rep2"
    "div3 Rep3"
    "div4 Rep4"
    "div5 Rep5";
}
.Div1 {
  grid-area: Div1;
}
.Div2 {
  grid-area: Div2;
}
.div3 {
  grid-area: div3;
}
.div4 {
  grid-area: div4;
}
.div5 {
  grid-area: div5;
}
.Rep2 {
  grid-area: Rep2;
}
.Rep1 {
  grid-area: Rep1;
}
.Rep3 {
  grid-area: Rep3;
}
.Rep4 {
  grid-area: Rep4;
}
.Rep5 {
  grid-area: Rep5;
}

.DivIndex {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-bg-color);
}
/**---------- COMPETENCE ----------**/

#competence {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3rem;
  padding: 10px;
  box-shadow: 4px 5px 15px -2px;

  justify-content: space-around;
}

.barre {
  display: inline-block;
}

#skill {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

#competence h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

#competence a {
  text-align: center;
}

.icon {
  width: 144px;
  height: 144px;
}

.skill-barre {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
/**---------- EXPERIENCE ----------**/

#experience h2 {
  text-align: center;
  color: var(--main-bg-color);
  font-weight: bold;
  padding: 1rem;
}

#experience {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
}

.experience-Bloc {
  display: flex;
  border: solid var(--main-bg-color) 1px;
  border-radius: 5px;
  margin: 1rem;
}

.experience-info {
  font-weight: bold;
  background-color: var(--main-bg-color);
  color: white;
  width: 30%;
  padding: 1rem;
  border-radius: 5px;
  /*box-shadow: inset 2px 2px 1px black, inset 2px 3px 5px rgba(0, 0, 0, 0.3),
    inset -2px -3px 5px rgba(255, 255, 255, 0.5);*/
}

.experience-info-text {
  width: 70%;
  padding: 1rem;
}

#experience a {
  text-align: center;
  margin-bottom: 1rem;
}

/**---------- FORMATION ----------**/

#formation {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
  padding: 10px;
}

#formation h2 {
  text-align: center;
  color: var(--main-bg-color);
  font-weight: bold;
}

.formation-info {
  display: flex;
  border: solid var(--main-bg-color) 1px;
  border-radius: 5px;
  margin: 1rem;
}

.formation_info-type {
  font-weight: bold;
  background-color: var(--main-bg-color);
  color: white;
  width: 30%;
  padding: 1rem;
  border-radius: 5px;
  /*box-shadow: inset 2px 2px 1px black, inset 2px 3px 5px rgba(0, 0, 0, 0.3),
    inset -2px -3px 5px rgba(255, 255, 255, 0.5);*/
}

.formation_info-resume {
  width: 70%;
  padding: 1rem;
}

.formation-info h3 {
  text-align: center;
  display: inline;
  color: white;
  background-color: var(--main-bg-color);
}

.formation_info-type .date {
  text-align: right;
}

#formation a {
  text-align: center;
  margin-bottom: 1rem;
}

/**---------- PORTOFOLIO ----------**/

#portofolio {
  color: black;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
  padding: 10px;
}

#portofolio h2 {
  text-align: center;
  color: var(--main-bg-color);
  font-weight: bold;
}

#portofolio a {
  text-align: center;
  margin-bottom: 1rem;
}

/**---------- CONTACTER MOI ----------**/

#contact {
  color: white;
  display: flex;
  margin: 3rem;
  box-shadow: 4px 5px 15px -2px;
  flex-direction: column;
  padding: 10px;
  background-image: url(../pictures/img/ville.jpg);
  background-size: cover;
  height: 300px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.contacterMoi-div {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 0rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 2rem;
}

.contacterMoi-div .a {
  color: white;
}

/**---------- FOOTER ----------**/

footer {
  text-align: center;
}
